Repository pahud/cdk-remote-stack, pull requests merged in 2020-09, with the labels that each got.

#32 chore: yarn upgrade
  yarn.lock
Labels: yarn

#34 chore: yarn upgrade
  yarn.lock
Labels: yarn

#35 chore: upgrade projen
  .github/workflows/build.yml
  .github/workflows/projenupgrade.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Labels: projen/upgrade

#36 chore: yarn upgrade
  yarn.lock
Labels: auto-merge, yarn/upgrade
